services:
  - type: web
    name: electricity-backend
    env: python

    rootDirectory: ./

    buildCommand: "pip install -r requirements.txt && python backend/project/manage.py migrate && python backend/project/manage.py collectstatic --noinput"

    startCommand: "gunicorn project.wsgi:application --chdir backend"

    envVars:
      - key: SECRET_KEY
        sync: false
      - key: ALLOWED_HOSTS
        sync: false
