services:
  - type: web
    name: electricity-backend
    env: python
    rootDirectory: backend
    buildCommand: "pip install -r ../requirements.txt"
    startCommand: "gunicorn project.wsgi:application"
    envVars:
      - key: SECRET_KEY
        sync: false
      - key: ALLOWED_HOSTS
        sync: false
