services:
  - type: web
    name: electricity-backend
    env: python

    rootDirectory: ./backend/project

    buildCommand: "pip install -r ../../requirements.txt && python manage.py collectstatic --noinput"
    startCommand: "gunicorn project.wsgi:application"

    envVars:
      - key: SECRET_KEY
        sync: false
      - key: ALLOWED_HOSTS
        sync: false
