services:
  - type: web
    name: electricity-backend
    env: python
    rootDirectory: backend
    region: oregon
    plan: free

    buildCommand: |
      pip install -r requirements.txt
      python project/manage.py migrate
      python project/manage.py collectstatic --noinput

    startCommand: |
      gunicorn project.project.wsgi:application

    envVars:
      - key: PYTHON_VERSION
        value: 3.13.4
      - key: DJANGO_SETTINGS_MODULE
        value: project.settings
