services:
  - type: web
    name: electricity-backend
    env: python
    rootDir: backend

    buildCommand: |
      pip install -r requirements.txt
      python manage.py migrate
      python manage.py collectstatic --noinput

    startCommand: gunicorn core.wsgi:application

    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: core.settings
